/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 29 28 27 26 25 24 36 37 38>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <6 7 9 8 10 11 23 22 21 20 19 18 30 31 32 34 33 35 41 40 39 38 37 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp ESC    &kp Q         &kp W            &kp E                &kp R              &kp T          &kp Y      &kp U               &kp I                 &kp O             &kp P                 &trans
&trans     &hml LCTRL A  &hml LEFT_ALT S  &hml LEFT_COMMAND D  &hml LEFT_SHIFT F  &kp G          &kp H      &hmr RIGHT_SHIFT J  &hmr RIGHT_COMMAND K  &hml RIGHT_ALT L  &hmr RCTRL SEMICOLON  &kp SQT
&kp GRAVE  &kp Z         &kp X            &kp C                &kp V              &kp B          &kp N      &kp M               &kp COMMA             &kp PERIOD        &kp SLASH             &trans
                                          &trans               &mo 2              &kp SPACE      &kp ENTER  &mo 1               &trans
            >;
        };

        nums {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans      &trans  &trans  &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans      &trans  &trans  &trans
            >;
        };
    };
};
